<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.JudgeMapper">

    <sql id="Base_Column_List">
        id,answer,content,name
    </sql>

    <select id="selectAll" resultType="com.example.entity.Judge">
        select
        <include refid="Base_Column_List" />
        from manager.judge
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="answer != null"> and answer= #{answer}</if>
            <if test="content != null"> and content= #{content}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Judge">
        select
        <include refid="Base_Column_List" />
        from manager.judge
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from manager.judge
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Judge" useGeneratedKeys="true">
        insert into manager.judge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="answer != null">answer,</if>
            <if test="content != null">content,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="answer != null">#{answer},</if>
            <if test="content != null">#{content},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Judge">
        update manager.judge
        <set>
            <if test="answer != null">
                answer = #{answer},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>