<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NavigationMapper">

    <sql id="Base_Column_List">
        id,user_id,content1,flag1,content2,flag2,exam1,examFlag1,content3,flag3,demo1,demoFlag1,content4,flag4,content5,flag5,demo2,demoFlag2,content6,flag6,exam2,examFlag2
    </sql>

    <select id="selectAll" resultType="com.example.entity.Navigation">
        select
        <include refid="Base_Column_List" />
        from manager.navigation
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="content1 != null"> and content1 like concat('%', #{content1}, '%')</if>
            <if test="flag1 != null"> and flag1 like concat('%', #{flag1}, '%')</if>
            <if test="content2 != null"> and content2 like concat('%', #{content2}, '%')</if>
            <if test="flag2 != null"> and flag2 like concat('%', #{flag2}, '%')</if>
            <if test="exam1 != null"> and exam1 like concat('%', #{exam1}, '%')</if>
            <if test="examFlag1 != null"> and examFlag1 like concat('%', #{examFlag1}, '%')</if>
            <if test="content3 != null"> and content3 like concat('%', #{content3}, '%')</if>
            <if test="flag3 != null"> and flag3 like concat('%', #{flag3}, '%')</if>
            <if test="demo1 != null"> and demo1 like concat('%', #{demo1}, '%')</if>
            <if test="demoFlag1 != null"> and demoFlag1 like concat('%', #{demoFlag1}, '%')</if>
            <if test="content4 != null"> and content4 like concat('%', #{content4}, '%')</if>
            <if test="flag4 != null"> and flag4 like concat('%', #{flag4}, '%')</if>
            <if test="content5 != null"> and content5 like concat('%', #{content5}, '%')</if>
            <if test="flag5 != null"> and flag5 like concat('%', #{flag5}, '%')</if>
            <if test="demo2 != null"> and demo2 like concat('%', #{demo2}, '%')</if>
            <if test="demoFlag2 != null"> and demoFlag2 like concat('%', #{demoFlag2}, '%')</if>
            <if test="content6 != null"> and content6 like concat('%', #{content6}, '%')</if>
            <if test="flag6 != null"> and flag6 like concat('%', #{flag6}, '%')</if>
            <if test="exam2 != null"> and exam2 like concat('%', #{exam2}, '%')</if>
            <if test="examFlag2 != null"> and examFlag2 like concat('%', #{examFlag2}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Navigation">
        select
        <include refid="Base_Column_List" />
        from manager.navigation
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from manager.navigation
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Navigation" useGeneratedKeys="true">
        insert into manager.navigation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content1 != null">content1,</if>
            <if test="flag1 != null">flag1,</if>
            <if test="content2 != null">content2,</if>
            <if test="flag2 != null">flag2,</if>
            <if test="exam1 != null">exam1,</if>
            <if test="examFlag1 != null">examFlag1,</if>
            <if test="content3 != null">content3,</if>
            <if test="flag3 != null">flag3,</if>
            <if test="demo1 != null">demo1,</if>
            <if test="demoFlag1 != null">demoFlag1,</if>
            <if test="content4 != null">content4,</if>
            <if test="flag4 != null">flag4,</if>
            <if test="content5 != null">content5,</if>
            <if test="flag5 != null">flag5,</if>
            <if test="demo2 != null">demo2,</if>
            <if test="demoFlag2 != null">demoFlag2,</if>
            <if test="content6 != null">content6,</if>
            <if test="flag6 != null">flag6,</if>
            <if test="exam2 != null">exam2,</if>
            <if test="examFlag2 != null">examFlag2,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content1 != null">#{content1},</if>
            <if test="flag1 != null">#{flag1},</if>
            <if test="content2 != null">#{content2},</if>
            <if test="flag2 != null">#{flag2},</if>
            <if test="exam1 != null">#{exam1},</if>
            <if test="examFlag1 != null">#{examFlag1},</if>
            <if test="content3 != null">#{content3},</if>
            <if test="flag3 != null">#{flag3},</if>
            <if test="demo1 != null">#{demo1},</if>
            <if test="demoFlag1 != null">#{demoFlag1},</if>
            <if test="content4 != null">#{content4},</if>
            <if test="flag4 != null">#{flag4},</if>
            <if test="content5 != null">#{content5},</if>
            <if test="flag5 != null">#{flag5},</if>
            <if test="demo2 != null">#{demo2},</if>
            <if test="demoFlag2 != null">#{demoFlag2},</if>
            <if test="content6 != null">#{content6},</if>
            <if test="flag6 != null">#{flag6},</if>
            <if test="exam2 != null">#{exam2},</if>
            <if test="examFlag2 != null">#{examFlag2},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Navigation">
        update manager.navigation
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="content1 != null">
                content1 = #{content1},
            </if>
            <if test="flag1 != null">
                flag1 = #{flag1},
            </if>
            <if test="content2 != null">
                content2 = #{content2},
            </if>
            <if test="flag2 != null">
                flag2 = #{flag2},
            </if>
            <if test="exam1 != null">
                exam1 = #{exam1},
            </if>
            <if test="examFlag1 != null">
                examFlag1 = #{examFlag1},
            </if>
            <if test="content3 != null">
                content3 = #{content3},
            </if>
            <if test="flag3 != null">
                flag3 = #{flag3},
            </if>
            <if test="demo1 != null">
                demo1 = #{demo1},
            </if>
            <if test="demoFlag1 != null">
                demoFlag1 = #{demoFlag1},
            </if>
            <if test="content4 != null">
                content4 = #{content4},
            </if>
            <if test="flag4 != null">
                flag4 = #{flag4},
            </if>
            <if test="content5 != null">
                content5 = #{content5},
            </if>
            <if test="flag5 != null">
                flag5 = #{flag5},
            </if>
            <if test="demo2 != null">
                demo2 = #{demo2},
            </if>
            <if test="demoFlag2 != null">
                demoFlag2 = #{demoFlag2},
            </if>
            <if test="content6 != null">
                content6 = #{content6},
            </if>
            <if test="flag6 != null">
                flag6 = #{flag6},
            </if>
            <if test="exam2 != null">
                exam2 = #{exam2},
            </if>
            <if test="examFlag2 != null">
                examFlag2 = #{examFlag2},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>